
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background-color: $lacteal;
  transition: 0.5s;
}

.main.active {
  width: calc(100% - 60px);
  left: 60px;
}

@include breakpoint-down (990) {
  .main {
    width: 100%;
    left: 0;
  }

  .main.active {
    width: calc(100% - 300px);
    left: 300px;
  }
}

@include breakpoint-down (480) {
  .main,
  .main.active {
    width: 100%;
    left: 0;
  }
}